body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: blanchedalmond;
}

main {
  display: grid;
  grid-template-columns: minmax(120px, 1fr) 6fr minmax(120px, 1fr);
  grid-template-rows: 10vh 1fr 10vh;
  grid-gap: 8px;

  justify-content: start;
  align-content: start;

  width: 90vw;
  min-height: 100vh;

  background-color: aliceblue;
  box-shadow: 2px 2px 8px #222;
}

main > * {
  background-color: dodgerblue;
}

main > *:hover {
  border: 2px dashed #222;
}

main > header, main > footer {
  background-color: tomato;
  grid-column: 1 / 4;
}

main > article {
  padding: 2em;
}

main > article > * {
  display: none;
}

main > article:hover > * {
  display: inherit;
}
